*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.button{
    background-color:  transparent;
    border: 1px black ridge;
    color: rgb(95, 93, 93);
    padding: 3px 7px;
    margin: 8px 00px;
    margin-left: 50px;
    margin-right: 15px;
    font-weight: bold ;
    cursor: pointer;
    letter-spacing: 1px
}

.bold{
    text-decoration: none;
    color: rgb(95, 93, 93);
    padding: 0px 8px;
    font-weight: bold
}

.hg{
    color: rgb(95, 93, 93);
    text-decoration: none;
    font-weight: bold;
    padding: 0px 3px;
    font-size: 12px;
    margin: 10px;
    letter-spacing: 2px;
}

.bar{
    font-size: 25px;
}

.discount{
    padding-left: 100px;
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.link{
    color: black;
    font-size: 11px;
    padding: 68px;
    letter-spacing: 1px;
}

.usa{
    height: 15px;
}

.pause{
    margin-left: 185px;
}
.circlbt{
    padding: 15px;
    background-color: transparent;
    position: fixed;
}

/* .circlebutton{
    height: 100px;
    width: 100px;
    transform: scale(.100);
} */

.div{
    /* border: 2px black ridge; */
    width: 100%;
    box-shadow: 10px;
}

.divcont{
    height: 650px;
    width: 100%;
    border: 0px transparent ridge;
    background-image: url(/images/Home_dec_.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 250px rgba(0, 0, 0, 0.411) inset;
}

.input{
    width: 240px;
    height: 38px;
    background-color: transparent;
    color: rgb(230, 230, 230);
    border: 1px gainsboro ridge;
    padding-left: 20px;
    padding-top: 2px;

}

.button-cb2{
    /* display: inline; */
    background-color:  transparent;
    border: 4px white ridge;
    color: white;
    padding: 4px 5px;
    margin-left: 650px;
    margin-bottom: 0px;
    font-weight: bold ;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px
}

/* .bar1{
    font-size: 20px;
} */

.offers{
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* word-spacing: 6px; */
}

.category{
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 17px;
}

.collection{
    color: white;
    font-size: 38px;
    letter-spacing: 10px;
    word-spacing: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.arrivals{
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.secondcont{
    height: 700px;
    width: 100%;
    border: 0px transparent ridge;
    background-image: url(/images/010223_home_d_upholstery_re_2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 3px;
}

.event{
    color: black;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 37px;
    letter-spacing: 10px;
}

.disc1{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 29px;
    letter-spacing: 3px;
    word-spacing: 0px;
}

.furniture{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 11px;
    font-size: 17px;
    letter-spacing: 5px;
}

.sale{
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.thirdcont{
    height: 230px;
    width: 100%;
    border: 0px transparent ridge;
    background-image: url(/images/Markdowns_D.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 3px;
}

.markdowns{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 6px;
    padding-top: 87px;
}

.shop{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    word-spacing: 2px;
    padding-top: 23px;
}

.forthcont{
    height: 670px;
    width: 100%;
    border: 0px transparent ridge;
    background-image: url(/images/010223_Home_D_Dining.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 3px;
}

.dine{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 40px;
    padding-top: 130px;
    letter-spacing: 7px;
}

.shop-dine{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
    padding-top: 18px;
    letter-spacing: 1px;
}

.fifthcont{
    height: 670px;
    width: 100%;
    border: 0px transparent ridge;
    background-image: url(/images/D_space_lifts_2\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 3px;
}

.animate{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 65px;
    text-decoration: none;
    letter-spacing: 7px;
    padding-top: 245px;
}

.updates{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 3px;
    padding-top: 3px;
}
